body {
	background-color: #B2E9FD;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

#watchlistLink>a {

	text-decoration: none !important;
	color:#DC4247;
}

#movies-container {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
}

.movie {

	display: flex;
	
	
}

#watchlist-container {
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
}
